@charset "utf-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: EBGaramond, sans-serif;
    src: url(EBGaramond-Regular.ttf);
}

body {
    font-family: sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image: url(detailBackground.jpg);
}

::selection{
    background-color: #788fa4;
    color: #fff;
}

/*detail card*/
.container {
    max-width: 75%;
    margin: auto;
    height: 80vh;
    margin-top: 5%;
    background: white;
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.3);
}
/*big image*/
.slide{
    width: 500px;
    height: 400px;
}

.left, .right {
    width: 50%;
    padding: 30px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex1 {
    display: flex;
}

.main_image {
    width: auto;
    height: auto;
}

.option img {
    width: 75px;
    height: 75px;
    padding: 10px;
}

.right {
    padding: 50px 100px 50px 50px;
}

.right h3 {
    color: #af827d;
    margin: 10px 0 20px 0;
    font-size: 25px;
}

h5,
.right p,
h4 {
    color: #837D7C;
}

h5{
    margin-top: 10px
}

.right p {
    margin: 20px 0 20px 0;
    line-height: 25px;
    text-align: justify
}

h5 {
    font-size: 15px;
    text-align: justify;
}

section{
    margin-bottom: 50px;
}

/*book button*/
.btn1 {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background: #C1908B;
    color: white;
    margin-top: 40px;
    border-radius: 30px;
}

.btn1:hover{
    background: rgb(233, 56, 56);
}

@media only screen and (max-width:1000px) {
.container {
    max-width: 90%;
    margin: auto;
    height: auto;
}
.main_img{
    align-items: center;
}
.left, .right {
    width: 100%;
}

.container {
    flex-direction: column;
}
}

@media only screen and (max-width:1300px) {
.container {
    max-width: 90%;
    height: auto;
    padding: 10px;
}

section{
    margin-top: 100px;
}

.left, .right {
    padding: 0;
}

img {
    width: 100%;
    height: 100%;
}

.option {
    display: flex;
    flex-wrap: wrap;
}
}

/* Footer */
.container1{
    max-width: 1170px;
    margin: auto;
    line-height: 1.5;
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
}
footer ul{
    list-style: none;
}
.footer{
    background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
    width: 290px;
}
.footer-col h6{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h6::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    padding-left: 10px;
}
@media screen and (max-width: 500px){
    .footer-col{
        width: 100%;
    }
}
@media(max-width: 1000px){
    .footer-col{
        margin-bottom: 30px;
    }
}