@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: EBGaramond, sans-serif;
    src: url(EBGaramond-Regular.ttf);
}
::selection{
    background-color: #788fa4;
    color: #fff;
}

/*Search*/
.wrapper{
    max-width: 450px;
}
.wrapper .search-input{
    background: #fff;
    width: 100%;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}
.search-input input{
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}
.search-input.active input{
    border-radius: 5px 5px 0 0;
}
.search-input .autocom-box{
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
}
.search-input.active .autocom-box{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}
.autocom-box li{
    color: black;
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
}
.search-input.active .autocom-box li{
    display: block;
}
.autocom-box li:hover{
    background: #efefef;
}
.search-input .icon{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: #644bff;
    cursor: pointer;
}

body{
    line-height: 1.4;
    color: var(--dark);
    background-color: #fff;
}

/* header big image*/
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1.2rem;
}
.search{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(search\ background.png) center/cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.navbar{
    background: rgba(0, 0, 0, 0.6);
    padding: 1.2rem;
}
.navbar-brand{
    color: #fff;
    font-size: 2rem;
    display: block;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
}
.navbar-nav{
    padding: 0.8rem 0 0.2rem 0;
    text-align: center;
}
.navbar-nav a{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 0.4rem 0.1rem;
    letter-spacing: 3px;
    transition: opacity 0.5s ease;
}
.navbar-nav a:hover{
    opacity: 0.7;
}
.banner{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}
.banner-title{
    font-size: 3rem;
    line-height: 1.2;
}
h1{/*search event word*/
    color: rgb(53, 52, 52);
}
.banner p{
    padding: 1rem 0 2rem 0;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 300;
    word-spacing: 2px;
}


/*slider*/
.thumbnail-slider{
	width: 100%;
	float: left;
	overflow: hidden;
    margin-bottom: 80px;
}

.thumbnail-slider .thumbnail-container{
	width: 100%;
	float: left;
	transition: margin 1s ease;
}
.thumbnail-container .item img{
    height: 250px;
    width: 280px;
}
.thumbnail-slider .item{
    text-align: center;
    float: left;
}
/*control slide*/
.thumbnail-slider .controls{
	width: 100%;
	float: left;
	padding:15px;
}

.thumbnail-slider .controls ul{
	display: block;
	text-align: center;
	padding:0;
	margin:0;
	list-style: none;
}
.thumbnail-slider .controls ul li{
	height: 35px;
	width: 35px;
	border:1px solid #c3c3c3;
	margin:4px;
	display: inline-block;
	line-height: 33px;
	cursor: pointer;
}
.thumbnail-slider .controls ul li.active{
	background-color: green;
	color:#ffffff;
}

/*Section*/
section{
    width: 80%;
    margin: 30px auto;
}
.title{
    text-align: center;
    font-size: 30px;
    color: #49497e;
}
.line{
    width: 150px;
    height: 4px;
    background: #fc036b;
    margin: 10px auto;
    border-radius: 5px;
}

/* Footer */
.container1{
    max-width: 1170px;
    margin: auto;
    line-height: 1.5;
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
}
footer ul{
    list-style: none;
}
.footer{
    background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
    width: 290px;
}
.footer-col h6{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h6::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    padding-left: 10px;
}
@media screen and (max-width: 500px){
    .footer-col{
        width: 100%;
    }
}
@media(max-width: 1000px){
    .footer-col{
        margin-bottom: 30px;
    }
}


